<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="css/bootstrap.min.css" />

</head>

<body ng-app="pokedex">

    <div class="container">
        <h1>Pokésir</h1>

        <!-- Search -->
        <div ng-app="pokeApp" ng-controller="pokedexController">
            <label class="col-md-2" for="idpok">Numéro Pokémon</label> <input id="idpok" type="text" ng-model="idpokemon">
            <br>
            <label class="col-md-2" for="nompok">Nom Pokémon</label> <input id="nompok" type="text" ng-model="nompokemon">
            <br>
            <br>

            <p>
                <select class="col-md-push-1 col-md-2" ng-model="nompokemon">
                <option ng-repeat="name in pokes | filter:nompokemon">{{name}}</option>
            </select>
            </p>
            <br>
            <button type="button" class="btn btn-primary" ng-click="nompokemonrech = nompokemon">Go</button>
            <!-- Pokémon information -->
            <br>
            <div>Pokémon recherché : {{nompokemonrech}}</div>
        </div>





    </div>

    <!-- Dependencies -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>

    <!-- Pokedex app -->
    <script src="js/pokedex.js"></script>


</body>

</html>